@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@400;700 & display=swap');

/* Je défini le corps (body) de ma page avec une marge et un padding à 0 
et sa taille prenant tout l'espace disponible avec border-box */
body {
    max-width: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: "Raleway";
}


/* ---------------------------- HEADER DESKTOP ---------------------------------*/
header {
    margin-left: 45px;
}
.logoHeader {
    height: 19px;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    position: relative
}
.menu > li {
    list-style-type: none;
}
.menu > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-right: 67px;
}

.menu > li > a:hover {
    color: #0065FC;
}
.menu > li > a:hover::before {
    position: absolute;
    content: "";
    background-color: #0065FC;
    width: 162px;
    height: 2px;
    display: block;
    top: -15px;
    transform: translateX(-10%);
}

/*  --------------------------------------- MAIN DESKTOP ---------------------------------- */
/* --------------------------------- SECTION SEARCH ------------------------------------- */

.functionSearch {
    margin-left: 45px;
}
.functionSearch > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.captionTitle {
    margin-top: 8px;
}

.searchIcon {
    width: 332px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 14px 0 16px 16px
}
.searchInput {
    width: 282px;
    padding: 15px 16px 15px 16px;
    margin: 0 0 0 15px;
    border: none;
}
.searchInput::placeholder {
    font-weight: 700;
    font-size: 1.1rem;
    color: black;
}
.searchButton {
    width: 132px;
    height: 49px;
    font-size: 1.1rem;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 12px 16px 15px 16px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #FFFFFF;
    border: none;
    margin-left: -30px;
}
.fa-magnifying-glass {
    display: none;
}

.filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 31px;
}
.filter > p {
    margin-right: 42px;
    font-size: 1.2rem;
    font-weight: 700;
}
.filterBox {
    width: 80%;
    display: flex;
    gap: 15px;
}
.filterBox > a {
    font-size: 1rem;
}
.btnFilter {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.btnFilter > .fa-solid {
    color: #0065FC;
    margin: 0 10px 0 0; 
}
.btnFilter:hover {
    background-color: #DEEBFF;
}
.info {
    display: flex;
    align-items: center;
    margin: 20px 0 39px 0;
}
.info > .fa-info {
    border: 1px solid #D9D9D9;
    padding: 6px 10px 6px 10px;
    border-radius: 24px;
    margin-right: 11px;
    color: #0065FC;
}

/* ----------------------------- SECTION HÉBERGEMENTS ----------------------------------- */

.flex {
    display: flex;
    padding: 0 45px;
    gap: 20px;
}
.boxContainer {
    width: 70%;
    height: max-content;
    background-color:#F2F2F2;
    border-radius: 20px;
}
.boxContainer > h2 {
    font-size: 1.5rem;
    margin: 42px 0 23px 50px;
}
.popularContain {
    width: 30%;
}

.accommodation, .popular {
    width: 100%;
    display: flex;
}
.accommodation {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.more {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    left: 45px;
    bottom: 30px;
}

.popular {
    flex-direction: column;
    padding-bottom: 45px;
}

.cardAccommodation, .cardPopular {
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: #F2F2F2 1px 1px 10px;
}
.cardAccommodation {
    width: 180px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.cardPopular {
    width: 246px;
    height: 124px;
    margin: 15px auto 15px auto;
    position: relative;
}

.coverImages {
    width: 100%;
    height: 104px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.accommodation > a, .popular > a {
    text-decoration: none;
    color: black;
}
.cardAccommodation > h3, .popularInfos > h3 {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 4px 0 0 16px;
}
.cardAccommodation > p, .popularInfos > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 9px 0 0 16px;
}

.star {
    margin: 9px 0 2px 16px;
}
.fa-star {
    color: #0065FC;
    width: 12px;
    margin-right:2px ;
}
.grey {
    color: #F2F2F2;
}

.flexPopular {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
}
.flexPopular {
    font-size: 0.9rem;
}
.fa-chart-line {
    color: #0065FC;
}
.boxPopular > a {
    text-decoration: none;
}
.flexCardPopular {
    display: flex;
}

.coverImagesPopular {
    width: 85px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.popularInfos {
    margin-left: 15px;
}
.popularInfos > .star {
    position: absolute;
    bottom: 10px;
    right: 60px;
    /* margin: 30px 0 12px 0; */
}
/* .popularInfos > .except {
    margin: 30px 0 12px 0;
} */
.popularInfos > h3 {
    margin: 12px 0 0 0;
    color: black;
}
.popularInfos > p {
    margin: 7px 0 0 0;
    color: black;
}

/* ----------------------------- SECTION ACTIVITÉS ----------------------------------- */

#Activites {
    padding: 0 50px;
}
#Activites > h2 {
    font-size: 1.5rem;
    padding-top: 60px;
}
.boxActivity {
    display: flex;
    justify-content: space-between;
}
.cardActivity {
    width: 212px;
    height: auto;
    border-radius: 20px;
    box-shadow: #F2F2F2 1px 1px 10px;
}
.imageActivity {
    width: 100%;
    height: 239px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.cardActivity > h3 {
    margin: 10px 0 10px 10px;
    font-size: 0.85rem;
}

/* ----------------------------- SECTION FOOTER ----------------------------------- */

.boxFooter {
    margin: 60px 53px 0 45px;
    background-color: #F2F2F2;
    display: flex;
}
.cardFooter {
    display: flex;
    flex-direction: column;
    margin: 45px 50px 50px 50px;
}
.cardFooter > h3 {
    font-size: 1rem;
}
.cardFooter > a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: 1rem;
}

/* ----------------------------- VERSION TABLETTE ----------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
/* -------------------------- SECTION HEADER ----------------------------------- */
.menu > li > a {
    font-size: 1rem;
}

/* -------------------------- SECTION FILTER ----------------------------------- */

    .filterBox {
        width: 80%;
    }
    .filterBox > a {
        font-size: 0.8rem;
    }
    .filter > p {
        font-size: 1rem;
    }

/* -------------------------- SECTION HEBERGEMENTS ----------------------------------- */
    .flex {
        flex-direction: column;
    }

    .boxContainer {
        width: 100%;
    }
    .boxContainer > h2 {
        font-size: 1.3rem;
    }
    .cardAccommodation {
        width: 180px;
    }
    .cardAccommodation > h3, .popularInfos > h3 {
        font-size: 0.9rem;
    }
    .cardAccommodation > p, .popularInfos > p {
        font-size: 0.7rem;
    }
    .cardAccommodation > .star {
        font-size: 0.8rem;
    }
    .more {
        font-size: 1rem;
    }
    .flexPopular {
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 20px;
    }
    .flexPopular > h2 {
        font-size: 1.3rem;
    }
    .boxPopular {
        display: flex;
        justify-content: space-evenly;
    }
    .cardPopular {
        width: 200px;
        height: 120px;
    }
    .coverImagesPopular {
        width: 80px;
        height: 120px;
    }
    .popularInfos > p {
        font-size: 0.7rem;
    }
    .popularInfos > h3 {
        font-size: 0.9rem;
    }
    .popularInfos > .star {
        right: 30px;
        font-size: 0.8rem;
    } 

    /* -------------------------- SECTION ACTIVITES ----------------------------------- */

    #Activites > h2 {
        font-size: 1.2rem;
    }
    .cardActivity {
        width: 160px;
    }
    .imageActivity {
        height: 200px;
    }
    .cardActivity > h3 {
        font-size: 0.6rem;
        margin: 10px 0 10px 10px;
    }

    /* -------------------------- SECTION FOOTER ----------------------------------- */

    .boxFooter {
        margin: 60px 50px 0 50px;
    }
    .cardFooter {
        margin: 30px 40px;
    }
    .cardFooter > h3 {
        font-size: 0.8rem;
    }
    .cardFooter > a {
        font-size: 0.7rem;
    }
   
}
/* -------------------------- VERSION MOBILE ----------------------------------- */
@media screen and (max-width: 767px) {
/* ---------------------------- HEADER ---------------------------------*/
    
    header {
        margin: 0;
    }
    .logoHeader {
        height: 19px;
        margin: 20px auto 40px auto;
    }
    .containerHeader {
    flex-direction: column;
    }
    nav {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid #D9D9D9;
    }
    .menu > li {
        margin-left: -40px;
    }
    .menu {
        justify-content: space-around;
        align-items: center;
    }
    .menu > li > a:hover::before {
        display: none;
    }
    .menu > li > a {
        margin-right: 0;
    }
    .menu > li > a:hover::after {
        position: absolute;
        content: "";
        background-color: #0065FC;
        width: 50%;
        height: 2px;
        display: block;
        top: 50px;
        transform: translate(-50%, -50%);
        margin-left: 40px;
    }


/* -------------------------- SECTION FILTER ----------------------------------- */
    .functionSearch {
        margin: 20px 30px;
    }
    .searchButton {
        width: max-content;
    }
    .formSearch {
        padding-top: 30px;
        width: 100%;
    }
    .searchInput {
        width: 150px;
    }
    .searchInput::placeholder {
        font-size: .9em;
    }
    .mask {
        display: none;
    }
    .fa-magnifying-glass {
        display: block;
    }
    .filter {
        width: 100%;
    }
    .filterBox {
        width: 100%;
        flex-flow: row wrap;
        gap: 10px;
    }
    .filterBox >a {
        font-size: 0.8rem;
    }
    .btnFilter {
        width: 60%;
        padding: 15px;
    }

/* -------------------------- SECTION HEBERGEMENTS ----------------------------------- */

    .flex {
        flex-direction: column-reverse;
        padding: 0;
    }
    .boxContainer {
        width: 100%;
        background-color:#FFFFFF;
        border-radius: 0px;
    }
    .boxContainer > h2 {
        font-size: 1.5rem;
        margin: 42px 0 23px 5px;
    }
    .accommodation {
        width: 100%;
        margin: auto;
    }
    .popularContain {
        width: 100%;
        background-color: #F2F2F2;
    }
    .more {
        display: none;
    }

    .popular {
        padding-bottom: 50px;
    }
    .cardPopular {
        width: 80%;
        height: 150px;
        margin: 15px auto 15px auto;
    }
    .cardAccommodation {
        width: 350px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .coverImages {
        width: 100%;
        height: 154px;
    }
    .cardAccommodation > h3, .popularInfos > h3 {
        font-size: 1rem;
        margin: 4px 0 0 10px;
    }
    .cardAccommodation > p, .popularInfos > p {
        font-size: 1rem;
        margin: 9px 0 0 10px;
    }
    .cardAccommodation > h3 {
        margin-left: 16px;
    }
    .cardAccommodation > p {
        margin-left: 16px;
    }
    .flexPopular {
        padding-top: 25px;
        font-size: 1.2rem;
    }
    .coverImagesPopular {
        width: 140px;
        height: 150px;
    }
    .popularInfos > .star {
        right: 30px;
        bottom: 5px;
    }
    
/* -------------------------- SECTION ACTIVITES ----------------------------------- */

    #Activites > h2 {
        font-size: 1.3rem;
        padding-top: 30px;
        width: 50%;
    }
    #Activites {
        padding: 0 20px;
    }
    .boxActivity {
        flex-flow: row wrap;
        gap: 30px;
    }
    .cardActivity {
        width: 350px;
    }
    .imageActivity {
        width: 100%;
        height: 140px;
    }
    .cardActivity > h3 {
        margin: 20px;
        font-size: 1.1rem;
    }
/* -------------------------- SECTION FOOTER ----------------------------------- */

    .boxFooter {
        margin: 50px 0 0 0;
        flex-direction: column;
    }
    .cardFooter {
        margin: 30px 50px 10px 50px;
    }
    .cardFooter > h3 {
        font-size: 1.3rem;
    }
    .cardFooter > a {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .boxFooter > :last-child {
        margin-bottom: 60px;
    }
    
}

/* -------------------------- VERSION DESKTOP LARGE ----------------------------------- */
@media screen and (min-width: 1185px) {
    /* ----------------------------- SECTION HÉBERGEMENTS ----------------------------------- */

    .cardAccommodation {
        width: 226px;
    }

    .cardPopular {
        width: 276px;
    }
    .coverImagesPopular {
        width: 95px;
    }
    .popularInfos > .star {
        margin: 45px 0 12px 0;
    }
    .popularInfos > .groupe2 {
        margin: 30px 0 12px 0;
    }
    .popularInfos > .except {
        margin: 48px 0 12px 0;
    }

}
